<template name="ApplicationLayout">
	<div id="wrapper" class="container">
		<div class="row">
			{{> yield "header" }}
		</div>
		<div class="row">
	    	{{> yield }}
		</div>
		<div class="row">
			{{> yield "footer" }}
		</div>
	</div>
</template>

<template name="ApplicationHeader">
	<div id="header">
  		<div class="header-logo">
			<a href="{{pathFor route='home'}}"><img src="/images/logo.png"/></a>
        </div>
		<div style="clear: both;"></div>
	</div>
</template>

<template name="ApplicationFooter">
	<div id="footer">
		
	</div>
</template>